package layout

templ Base() {
	<!doctype html>
	<html>
		<head>
			<link rel="stylesheet" href="/dist/main.css"/>
			<script type="module" src="/dist/main.js"></script>
		</head>
		<body>
			<main id="main">
				{ children... }
			</main>
		</body>
	</html>
}