body {
    color: $font-color;
    font-family: $font;
    background: $body-background-color;
    background: $body-background-gradient;
    max-width: $body-max-width-header ;
    margin-inline: auto;
    padding-inline: 0.5rem;
}

button {
    margin-left: 0.8rem;
    border-radius: 0.8rem;
    padding-inline: 2em;
    padding-block: 0.3em;
    font-size: 0.8rem;
    color: $button-color;
    text-align: center;
    color: $font-color;
    text-decoration: none;
    background-color: $button-background-color;
    cursor: pointer;
    transition: color 150ms ease-in-out, background 150ms ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px $button-color;
    font-weight: bold;
}

button:hover,
button:focus {
    background: $button-focus-background-color;
    color: $button-focus-color;
}

button:active {
    box-shadow: 0px 0px 2px 3px $button-focus-shadow-color;
}

.button-borderless {
    border: none !important;
}

// .button-signup {
    // border: none;
    // box-shadow: 0px 0px 2px 3px red;
    // background: $button-login-background-color;
    // background: $button-login-background-gradient
// }

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-inline: 1rem;
    margin-bottom: 2rem;
    div {
        display: flex;
        align-items: center; /* align vertical */
    }
    a {
        color: $header-color;
        text-decoration: none;
    }
    img {
        max-width: 70px;
        text-align: center;
        padding: 0.5rem;
        margin-left: 1ch;
    }
    h1 {
        margin-left: 1ch;
        font-size: 1.3rem;
        display: none;
    }
}

.main {
    max-width: $body-max-width;
    margin-inline: auto;
    background-color: $main-background-color;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    box-shadow: $main-box-shadow;
}

.main-nav {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: $menu-background-color;
    border-bottom: solid 1px rgba(156, 164, 178, 0.3);
    ul {
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        min-height: 4rem;
        align-items: center;
        margin-block: 0;
        color: $font-color;
    }
    li {
        text-align: center;
        font-size: 1.1rem;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
        color: $menu-deselected-color;
        padding-block: 1.3rem;
        padding-inline: 1em;
        width: 100%;
        display: inline-block;
        font-weight: normal;
        transition: color 150ms ease-in-out, background 150ms ease-in-out, border-bottom 150ms ease-in-out;
        font-size: 0.9rem;
        border-bottom: solid 2px $menu-background-color;
    }
    li:first-child>a {
        border-top-left-radius: 0.8rem;
    }
    li:last-child>a {
        border-top-right-radius: 0.8rem;
    }
    a:hover {
        background-color: $font-color;
        color: $font-color-contrast !important;
        border-bottom: solid 2px $font-color;
    }
}

.main-nav-selected {
    color: $font-color !important;
    border-bottom: solid 2px rgba(156, 164, 178, 1) !important;
    font-weight: bold !important;
}

.main-tab {
    text-align: start;
    img {
        max-height: 240px;
        border-radius: 0.3rem;
        width: 100%;
        object-fit: cover;
        object-position: 50% 35%; // don't zoom main to the top a bit
        margin-bottom: 0.6rem;
    }
    padding: 0.6rem;
    h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1rem;
    }
}

.text-align-center {
    text-align: center;
}

.last-mod {
    font-size: 0.8rem;
    color: $menu-deselected-color;
    text-align: end !important;
}

footer {
    margin-block: 4rem;
    color: $menu-deselected-color;
    font-size: 0.75rem;
}

.footer-buttons {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.footer-links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5ch;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    column-gap: 0px;
    align-content: center;
    a {
        display: flex;
        column-gap: 0.2rem;
        align-items: center;
        justify-content: center;
        color: $menu-deselected-color;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
        img {
            max-width: 1.5rem;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}

.posten-list>ul {
    list-style: none;
    background-color: $menu-background-color;
}

.htmx-indicator {
    max-width: 2rem;
    margin-block: 10rem !important;
    margin-inline: auto;
    transition: opacity 150ms ease-in-out;
}

// Hide up / down buttons in input number field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    margin: 0 !important; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield !important; /* Firefox */
}

.notice {
    color: $accent-color !important;
    margin-block: 2rem;
    font-weight: bold;
    font-size: 1rem;
}

@media (min-width: 500px) {
    header {
        h1 {
            display: block;
        }
    }
    .footer-links {
        grid-template-columns: 1fr 1fr 1fr;
    }
}