{{ define "settings" }}

{{ with .station }}
<h2>Posten {{ .Short }}</h2>
<div>
    <p>Name: {{ .Name }}</p>
    <p>Anzahl Leiter*innen: {{ .Size }}</p>
    <p>Stamm {{ .Tribe.Name }}</p>
</div>
{{ end }}

{{ end }}