{{ define "tribe/info" }}
    bei Fragen: <a href="{{ .Slack }}">Slack Channel</a>

    oder <a href="tel:{{ .Tel }}">anrufen</a> / <a href="{{ .Whatsapp }}">WhatsApp</a>

    Für die Postenaufteilung haben wir uns folgendes gedacht:

    Stamm Admin, bitte {{ .StationAmount }} Posten anmelden

{{ end }}
